{% extends "base.html" %}
{% block title %} Index {% endblock %}
{% block body %}
<h1>{{ context.title | upper }}</h1>
{% for x in sequencia %}
{% if x%2 == 0 %}
<p>Hello world {{x}}</p>
{% endif %}
{% endfor %}
{% endblock %}